version: "3.9"

services:
  db:
    image: postgres:16
    container_name: wallet-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: wallet_db
      POSTGRES_USER: wallet_user
      POSTGRES_PASSWORD: wallet_password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - wallet-net

networks:
  wallet-net:

volumes:
  db_data:
